.signInBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  animation: start 1s;
}
.signInOut {
  animation: end 1s;
}
@keyframes start {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes end {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}
.signInContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titleWrap {
  margin: 20px;
  font-size: 2vw;
}

.inputWrap {
  display: flex;
  flex-direction: column;
}

.inputWrap input {
  width: 70vw;
  max-width: 500px;
  height: 40px;
  padding: 15px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
}
.inputWrap input::placeholder {
  font-size: larger;
}

.signInBtnWrap {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
}
.signInBtnWrap button {
  margin: 20px 20px 0 20px;
  padding: 10px;
  border-radius: 3px;
  background-color: #e2e2e2;
  font-size: 1.5vw;
  color: black;
}

.signInFailBtn {
  cursor: default;
}
.cancelBtn:hover,
.signInBtn:hover {
  background-color: #212121;
  color: white;
  /* font-weight: bold; */
}

@media (max-width: 1100px) {
  .titleWrap {
    font-size: 22px;
  }
}
@media (max-width: 1200px) {
  .signInBtnWrap button {
    margin: 20px 20px 0 20px;
    font-size: 18px;
  }
}
